*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
.text-white{
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}


#main{

}
#nav{
    display: inline-block;
}
#header{
     
    height: 46.5px;
    background-color: black;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
#nav li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    
}

#nav li a{
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 0 24px;
    line-height: 46.5px;
    text-decoration: none;
}
#nav ul li{
    
}
#nav li:hover .subnav{
   display: block; 

}
#nav .subnav{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: none;
    position: absolute;
}
#nav .subnav li{
    width: 100%;
}
#nav .subnav a{
    padding: 0 16px;
    width: 100%;
    color: #000;
}
#header .mobile-menu-btn{
    
    position: absolute;
    top: 0;
    right: 0;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 1px 22px;
    cursor: pointer;
    
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .search-btn:hover{
    background-color: #f44336;
}
#header .mobile-menu-btn:hover .icon-menu{
    
    color: #000;
}
#header .mobile-menu-btn{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-icon{
    margin-top: 1px;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/IMG_0543.JPG) top center / cover no-repeat ;

}
#slider .text-content{
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    color: #fff;
    bottom: 0;
    position: absolute;
    font-size: 40px;
}

#slider .text-heading{
    text-shadow: 0 0 5px black;

}

#slider .text-description{
    text-shadow: 0 0 5px black;
    font-size: 30px;
    margin-top: 20px;

}


#content{
      
}
#content .content-section{
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
    max-width: 100%;
    /* padding: 64px 0; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-top: 60px;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;

}
#content .section-sub-heading{
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.7;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
#content .member-name{
    
}
#content .member-ava{
    border-radius: 5px;
}
#content .member-list{
    overflow: hidden;
    margin-top: 48px;
}
#content .member-item{
    text-align: center;
    float: left;
    width: 20%;
}
.clear{
    clear: both;
}

.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.tickets-list .sold-out{
    background-color: #f44336 ;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color:#000 ;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    
}
.places-list{
    margin-bottom: 48px; 
    margin-top: 32px;
    
}

.place-item{
    
    width: 33.3333%;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    font-size: 15px;
    background-color: #fff ;
    padding: 16px;

}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc{
        margin-top: 15px;
        line-height: 1.6;
        padding-bottom: 48px;
}

.buy-btn{
    background-color: #000 ;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
    margin-top: 8px;
}
.buy-btn:hover{
    opacity: 0.6;
}

#footer{

}
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
.modal.open{
    display: flex;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
}

.modal-container{
    max-width: calc(100% - 32px);
    position: relative;
    min-height: 200px;
    width: 900px;
    background: #fff;
}
.ti-bag{
    margin-right: 16px;
}

header.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    font-size: 15px;
    display: block;
    margin-bottom: 12px;
}
.modal-input{
    padding: 10px;
    font-size: 15px;
    border: 1px #ccc solid;
    width: 100%;
    margin-bottom: 24px;
}
#buy-tickets{
    color: #fff;
    background: #009688;
    height: 45px;
    width: 100%;
    text-transform: uppercase;
    border: 1px #009688 solid ;
}
#buy-tickets:hover{
    background: #ccc;
    color: #000;
    border: 1px #ccc solid;
    cursor: pointer;
    text-transform: uppercase;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a{
    color: #2196F3;
}
.modal-footer .more-help{
    
}
/* Contact-form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    
}
.contac-form{
    font-size: 15px;
}
.form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}
.mt-8{
    margin-top: 8px;    
}
.mt-16{
    margin-top: 16px;    
}
.form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 10px 16px;
    float: right;
    outline: none;
    
}
.map-section img{
    margin-top: 16px;
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
.socials-list{
    font-size: 24px;
    
}
.socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
.copyright{
    margin-top: 15px;
}
.copyright a{
    text-decoration: none;
    
}